/*************
    Global 
 *************/
* {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/*************
  Components
 *************/

.primary-button {
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
  border: 1px solid #415e84;
  background-color: #2f80ed;
  box-shadow: #415e84 0px 3px 5px;
  padding: 0.5rem 1rem;
}

footer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.footer_made-by {
  padding-left: 8px;
  font-size: 1.5em;
}

.footer_hashtag {
  background-color: #2f80ed;
  display: flex;
  padding: 0.5em 5em;
  border-radius: 6em 6em 0 0;
}
.footer_hashtag_text {
  color: white;
  font-size: 1.5em;
  margin: auto;
}
.footer_hashtag_text span {
  color: #ffa471;
}

.footer_get-in-touch {
  padding: 2px 1em;
  border-radius: 60px;
  margin-bottom: 8px;
  margin-right: 8px;
  font-weight: bold;
  border: 0px;
}

/***************
    Content
 ***************/
content {
  width: 100%;
  min-height: 50%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.project-title {
  align-self: flex-start;
  margin: 1rem;
}

/*************************
  First Section - actions
 *************************/

.generate-meal {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.generate-meal_title {
  padding-bottom: 1rem;
}
.generate-meal_button {
  width: 22ch;
}

/****************
  Meal Content
 ****************/

.meal_container {
  display: none;
}
